h1, h2, h3, h4, p, li {
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    color: #1985EA;
}

h1 {
    font-size: 40px;
    text-transform: capitalize;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

li {
    font-size: 18px;
}

header p {
    font-style: italic;
}

footer p {
    font-size: 16px;
    text-align: center;
}