h1 {
    color: #1985EA;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: capitalize;
}

h2 {
    color: #1985EA;
    font-size: 32px;
    font-family: sans-serif;
    text-transform: uppercase;
}

h3 {
    color: #1985EA;
    font-size: 28px;
    font-family: sans-serif;
}

h4 {
    color: #1985EA;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
}

li {
    font-size: 18px;
    font-family: sans-serif;
}