* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #444;
    margin: 0;
}

.container {
    max-width: 1024px;
    margin: auto;
    padding: 0 8px;
}

.main-header {
    background-color: rgba(25, 133, 234, .3);
    padding-top: 16px;
    /* border-top: 5px solid #1985ea;
    border-bottom: 5px solid #1985ea; */
    border: solid #1985ea;
    border-width: 5px 0;
}

.main-header h2 {
    margin: 0;
}

.main-header nav {
    /* margin-top: 16px; */
    /* padding-left: 8px; */
    font-size: 18px;
    display: flex;
    float: right;
}

.clear {
    clear: both;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.main-header nav a:link {
    background-color: rgba(25, 133, 234, .3);
    color: #fff;
    padding: 8px 12px;
    display: inline-block;
    min-width: 80px;
    text-align: center;
}

.main-header nav a:hover {
    text-decoration: none;
    background-color: #1985ea;
}

.main-header nav a.active {
    background-color: #1985ea;
}

.main-header nav a:first-child {
    border-top-left-radius: 8px;
}

.main-header nav a:last-child {
    border-top-right-radius: 8px;
}


.main-header h2::first-letter {
    font-size: 40px;
}

header {
    margin-bottom: 16px;
}

h1, h2, h3, h4 {
    color: #1985ea;
    margin-bottom: 12px;
}

h1 {
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
}

h1::after {
    content: "New";
    background-color: #ea1985;
    color: #fff;
    font-size: 20px;
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 8px;
    position: absolute;
    top: -4px;
}

/* h3 + p::first-line {
    color: #ea1985;
} */

h2 {
    font-size: 32px;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

ul, ol {
    margin-left: 32px;
    margin-bottom: 8px;
}

li {
    font-size: 18px;
}

/* header p {
    font-style: italic;
} */

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
    text-align: center;
    padding: 16px;
}

/* footer p {
    font-size: 16px;
    text-align: center;
} */

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

aside {
    background-color: rgba(25, 133, 234, .3);
    border: solid #1985ea;
    border-width: 5px 0;
    padding: 16px;
}

/* .first-list-item {
    font-weight: bold;
} */

/* li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
} */

/* li:nth-child(even) {
    color: red;
} */


/* Missconception: This won't work */
article p:first-child {
    color: red;
}

/* Styling Links */
a:link {
    color: #1985ea;
    text-decoration: none;
}

a:visited {
    color: #ea1985;
}

a:hover {
    color: #ea1985;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    background-color: #1985ea;
    font-size: initial;
}

/* Resolving Conflicts */
/* #copyright {
    color: #ea1985;
}

.copyright {
    color: red;
}

.text {
    color: blue;
}

footer p {
    color: green !important;
} */

.img-post {
    width: 100%;
    height: 256px;
}

.btn-chat {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #1985ea;
    color: #fff;
    font-size: 16px;
    border-color: #1985ea;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
}

img {
    margin: 8px 0;
}

/* Floats */
.author-img {
    float: left;
    margin: 0;
}

.author {
    float: left;
    margin: 16px;
}